transformers
openai
torch
sentencepiece
accelerate
bitsandbytes
tqdm
pymupdf         
python-docx     
docx2txt       
pypandoc      
pandas
requests
python-docx
openpyxl       
python-pptx   
reportlab      
numpy
fastapi
uvicorn
python-multipart
yt-dlp
youtube-transcript-api==0.6.1
pydub
ffmpeg-python




